body{
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
  background: #272727;
  background-image: url('');
}

.navbar-cont {
  display: flex;
  justify-content: space-between;
  background-color: #272727;
  flex: 1;
  align-content: center;
  align-items: center;
  padding: 0.5%;
}

.logo-cont {
  display: flex;
  justify-content: start;
}

.logo {
  margin: 2.5%;
  font-family: 'Inter';
  text-decoration: 0%;
  font-size: 300%;
  word-spacing: 2px;
  color: #fff;
  padding-left: 80%;
}

.search-and-login {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
  padding-right: 1%;
  transition: margin-left 0.5s;
}

.nav-link {
  margin: 6.25%;
  font-family: 'Inter';
  font-size: 112.5%;
  color: #fff;
  background-color: #cb1212;
  padding: 5% 15px 5% 15px;
  border: 0px solid;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: 0px;
}

a.nav-link:hover {
  color: #c1c1c1 ;
  transition: 40ms ease-in-out;
}

a.nav-link:active {
  color: #ffffff;
  font-weight: 700;
}

a.nav-link:visited {
  color: #ffffff;
  font-weight: 700;
  
}


.search-bar-cont {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.search-bar:focus {
  outline: none;
}


.search-icon {
  width: 20px;
  height:20px;
  padding: 20px;
  cursor: pointer;
}

.search-bar {
  position: relative;
  margin-right: 12px;
  border: solid;
  border-width: 1px;
  border-radius: 30px;
  padding: 12px;
  animation: 1s ease-in-out;
  background-color: #272727;
  color:#fff;
  font-family: Inter;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.login-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: fit-content; 
}

.login-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff; 
  padding:120px 80px  80px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
  margin-bottom: 30px;
}

.login-form-cont {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form-row {
  margin-bottom: 20px;
  justify-content: start;
}

.login{
  font-family: Inter;
  margin-top: -70px;
  margin-bottom: 40px;
  color: #cb1212;
  font-weight: bolder;
  font-size: 32px;
}

.label-cont {
  display: flex;
  justify-content: start;
  font-family: Inter;
  padding-bottom: 8px;
  font-size: 18px;
  color: #cb1212;
  font-weight: bold;
  margin-left: -30px;
}

.input-cont {
  display: flex;
  justify-content: start;
  width: 100%;
}

.input-field {
  font-family: Inter;
  color: #272727;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #272727;
  background: transparent;
  caret-color: #272727;
  width: 120%;
  word-wrap: break-word;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: -30px;
}


.submit-button {
  text-align: center;
  margin-top: 30px;
  background-color: #cb1212;
  font-family: Inter;
  color: #ffffff;
  width: fit-content;
  padding: 14px 30px 14px 30px;
  border-radius: 35px;
  text-decoration: 0;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}

.login-or-cont{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.or {
  font-family: Inter;
}

.social-icon {
  display: flex;
}

.social-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  align-content: center;
  
}

a#googleLogin, a#appleLogin {
  align-items: center;
  text-align: center;
  background-color: #272727;
  font-family: Inter;
  color: #e8dfdf;
  width: 300px;
  border-radius: 35px;
  text-decoration: 0;
  font-size: 18px;
  padding: 14px 30px 14px 30px;
  cursor: pointer;
  margin-top: 10px;
}
