body{
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
  background: #272727;
}

.navbar-cont {
  display: flex;
  justify-content: space-between;
  background-color: #272727;
  align-items: center;
  padding: 18px;
  position: relative;
}

.logo-cont {
  display: flex;
  justify-content: start;
}

.logo {
  margin: 2.5%;
  font-family: Outfit;
  text-decoration: 0%;
  font-size: 300%;
  color: #fff;
  padding-left: 80%;
}

.search-and-login {
  display: flex;
  justify-content: flex-end;
  gap: 2px;
  align-items: center;
  padding-right: 1%;
  position: absolute;
  right: 0; 
}

.main-nav {
  display: flex;
  justify-content: center;
}

.nav-link {
  margin: 6.25%;
  font-family: Outfit;
  font-size: 112.5%;
  color: #fff;  
  background-color: #d00811;
  padding: 10px 19px 10px 19px;
  border: 0px solid;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: 0px;
  width: 70px;
}

.search-bar-cont {
  display: flex;
  justify-content: end;
  align-items: center;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  width: 20px;
  height:20px;
  padding: 20px;
  cursor: pointer;
  position: relative;
}

.search-bar {
  margin-right: 12px;
  border: solid;
  border-width: 1px;
  border-radius: 30px;
  padding: 12px;
  transition: 0.2s ease-in-out;
  background-color: #272727;
  color:#fff;
  font-family: Outfit;
}

.video {
  width: 100%;
  height: auto;
}

.about-etc {
  display: flex;
  justify-content: space-between;
}

.aboutus-matter {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.about-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  border: 0px solid;
  border-radius: 20px;
  margin: 20px;
  padding: 40px;
  background-color: #e8dfdf;
  color: white;
  width: 470px;
  height: auto;
  text-align: center;
  margin-left: 200px;
  margin-top: -20px;
}

.about-heading {
  font-size: 35px;
  padding-left: 200px;
  font-family: Outfit;
  padding-top: 50px;
  color: #e8dfdf;
  text-decoration: 2px underline;
  text-underline-offset: 12px;
  padding-bottom: 20px;
}

.about-matter {
  font-family: Outfit;
  text-align: left;
  color: #272727;
  font-size: 20px;
  font-weight: bold;
}

.view-more-cont {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: -20px;
  margin-top: -14px;
}

.view-more-button {
  margin: 10px;
  font-family: Outfit;
  font-size: 18px;
  color: #fff;  
  background-color: #cb1212;
  padding: 8px 15px 8px 15px;
  border: 0px solid;
  border-radius: 40px;
  cursor: pointer;
}

.slider-cont {
  width: 30%;
  background-color: #252222;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  border-left: 1px solid #fff;
  position: relative;
}

.slider-button-cont {
  text-align: center;
  display: flex;
  justify-content: start;
  margin-left: -34px;
  border: 0px solid;
  border-radius: 50%;
  background-color: #cb1212;
  padding: 12px;
  cursor: pointer;
  position: absolute;
  left: 0;
}

.slider-button {
  width: 45px;
  height: 45px;
}

.what-we-offer-cont {
  display: flex;
  justify-content: center;
  
}

.slider-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e8dfdf;
  font-size: 40px;
  background-color: #cb1212;
  padding: 120px 30px 120px 30px;
  border-radius: 28px;
  font-family: Outfit;
  font-weight: bolder;
}

